.container{
  margin: 30px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(46, 45, 45);
}

.screen{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(217, 217, 217);
  height: 50px;
  margin-bottom: 12px;
}
.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}
.keypad{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.touch{
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  width: 80px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.number{
  background-color: rgb(84, 87, 144);
  color: white;
  font-weight: bold;
  margin-right: 8px;
}
.number:hover{
  background-color: rgb(145, 150, 252);
}
.operator{
  background-color: rgb(193, 189, 189);
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-family: sans-serif;
}
.operator:hover{
  background-color: rgb(229, 229, 229);
}
.coma{
  margin-right: 8px;
}
.clear{
  background-color:rgb(225, 148, 5);
  color: white;
  font-weight: bold;
  margin-right: 8px;
}
.clear:hover{
  background-color:rgb(187, 90, 0);
  /* color: rgb(136, 48, 4); */
}
.equal{
  height: 80px;
  width: 100%;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color:rgb(72, 184, 64);
  color: white;
  font-weight: bold;
  margin-top: 12px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.equal:hover{
  background-color:rgb(109, 214, 102);
  color: rgb(46, 45, 45);
}
